@import '../login/login.page.css';

.auth__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--esp-3);
}

@media (max-width: 480px) {
  .auth__grid { grid-template-columns: 1fr; }
}