@import '../solicitudes/solicitudes.page.css';

.guardados__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--esp-4);
}

@media (max-width: 800px) {
  .guardados__grid { grid-template-columns: 1fr; }
}